@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


html {
    scroll-behavior: smooth;
    font-size: 12px;
    line-height: 1.5;
}

.math {
    margin: 0;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
    background-size: cover;
    background-position: center;
    color: #333;
}

a {
    text-decoration: none;
}


button {
    all: unset;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

header nav a {
    margin-right: 2rem;
}


main {
    display: grid;
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; */
}

#footerheader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    grid-column: 1;
    grid-row: 1;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#footerheader>*>* {
    color: white;
    font-size: 1.8rem;
    transition: 0.2s;
}

#footerheader>*>*:hover {
    scale: 1.05;
}

#upperpart,
#bottompart {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#bottompart {
    align-items: end;
}

#how-to-play {
    color: white;
    font-size: 1.8rem;
    margin-left: 2rem;
}

#language-selection {
    cursor: pointer;
    margin-right: 2rem;
}

#by {
    color: white;
    font-size: 1.8rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: left; */
    /* justify-content: left; */
    margin: 0;
    margin-left: 2rem;
}

#by>* {
    margin: 0;
}

#contact-me {
    margin-right: 2rem;
}

#maintitle {
    gap: 1rem;
    margin: auto;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titlemath {
    font-size: 8rem;
    display: grid;
    transform: translateY(2rem);
}

#titlemath p {
    text-align: center;
    font-family: 'Rubik';
    font-weight: 1000;
    letter-spacing: 1.2rem;
    grid-column: 1;
    grid-row: 1;
    margin: 0;
}

#SketchMath {
    background: linear-gradient(90deg, #FF4319 3%, #FF7A00 36%, #FFBE00 68%, #9CB700 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    word-wrap: break-word;
    z-index: 1;
    filter: drop-shadow(-0rem 0.5rem 0px #B70000);
}

.back-arrow {
    position: fixed;
    top: 0;
    left: 0;
    margin: 2rem;
    transition: 0.2s;
}

.back-arrow img {
    width: 8rem;
}

.back-arrow:hover {
    scale: 1.1;
}

#play-button {
    transform: scale(0.8);
    transition: 0.2s;
}

#play-button:hover {
    scale: 1.1;
}

#titleshadow {
    position: relative;
    left: -0.3rem;
    top: 0.3rem;
    z-index: 0;

}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    top: 0;
    left: 0;
}

.svg-drawing {
    max-width: 80%;
    /* Ensures it scales down with the container */
    max-height: 80%;
    /* Ensures it scales down with the container */
    transform: translate(-8rem, 0rem);
}

#svg-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: -10;
}

.blobs-container {
    overflow: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    top: 0;
    left: 0;
}

.blob {
    position: absolute;
    transform: scale(0.7) translate(0, 0);
}

#blob1 {
    top: 0;
    left: 0;
    transform-origin: top left;
}

#blob2 {
    top: 0;
    right: 0;
    transform-origin: top right;
}

#blob3 {
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
}

#blob4 {
    bottom: 0;
    right: 0;
    transform-origin: bottom right;
}

.papertexture {
    opacity: 0.6;
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;
}

#overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background: #FFF6ED;
    mix-blend-mode: multiply;
    z-index: 1;
}



#main-gamemode {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    /* Aligns items to the start of the cross axis */
    margin: 4rem 2rem 4rem 2rem;
    height: calc(100vh - 8rem);
    /* Full heright minus margin */
}

.gamemode-wrapper {
    justify-content: stretch;
    text-align: center;
    display: grid;
    height: 100%;
    width: 100%;
    margin: 0;
}

.eternal-icon {
    position: absolute;
    scale: 0.65;
    grid-column: 1;
    grid-row: 1;
}

#eternal-icon-01 {
    transform: translate(0, 0) translateX(20rem) translateY(6rem);
}

#eternal-icon-02 {
    bottom: 0;
    transform: translate(0, 0) rotate(50deg) translateX(-12rem) translateY(-4rem);
}

#eternal-icon-03 {
    bottom: 8rem;
    scale: 0.55;
    transform: rotate(-20deg) translateX(25rem) translateY(14rem);
}

.arcade-icon {
    position: absolute;
    scale: 0.65;
    grid-column: 1;
    grid-row: 1;
}

#arcade-icon-01 {
    transform: translate(0, 0) translateX(35rem) translateY(6rem) rotate(20deg) scale(0.9);
}

#arcade-icon-02 {
    bottom: 0;
    transform: translate(0, 0) translateX(-1rem) translateY(-7rem) rotate(-20deg) scale(1.2);
}

#arcade-icon-03 {
    bottom: 0;
    transform: translate(0, 0) translateX(40rem) translateY(-7rem) rotate(45deg) scale(1.2);
}

.mentor-icon {
    position: absolute;
    scale: 0.8;
    grid-column: 1;
    grid-row: 1;
}

#mentor-icon-01 {
    transform: translate(0, 0) translateX(26rem) translateY(4rem) scale(0.7);
}

#mentor-icon-02 {
    bottom: 0;
    transform: translate(0, 0) translateX(26rem) translateY(-6rem) rotate(45deg);
}

#mentor-icon-03 {
    transform: translate(0, 0) translateX(0rem) translateY(4rem) rotate(20deg);
}

.card {
    display: flex;
    flex-direction: column;
    margin: 8rem 1.2rem;
    background: linear-gradient(203deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.20) 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.20);
    border-radius: 3rem;
    border: 0.15rem solid rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(0.5rem);
    text-align: center;
    justify-content: stretch;
    flex: 1;
    overflow: hidden;
    transition: .2s;
    height: auto;
}

.card-gamemode:hover {
    scale: 1.05;
    grid-column: 1;
    grid-row: 1;
}

.card h1 {
    font-size: 4.5rem;
    font-family: 'Rubik Mono One', sans-serif;
    color: #161616;
    margin-top: 3rem;
}

.gamemode-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    height: 100%;
    margin-bottom: 3rem;
}

.card p {
    font-size: 2.8rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    color: #161616;
    margin: 0rem 1rem;
}

.card h1 {
    letter-spacing: 0.04em;
}

#arcade-gamemode-title,
#arcade-title {
    background: linear-gradient(90deg, #FF4319 0%, #FFBE00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#eternal-gamemode-title,
#eternal-title {
    background: linear-gradient(90deg, #B60000 0%, #FF7A00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#mentor-gamemode-title,
#mentor-title {
    background: linear-gradient(90deg, #FFB800 0%, #ACCA01 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#main-howtoplay {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#title-howtoplay {
    font-size: 7.5rem;
    letter-spacing: 0.08em;
    background: linear-gradient(90deg, #FFBE00 0%, #FF4319 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    margin-bottom: 0rem;
    margin-top: 3rem;
}

#tutorial {
    position: relative;
    margin: 3rem;
    width: 82%;
    height: 82%;
    overflow: hidden;
}

#tutorial-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#main-game {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-space {
    width: calc(100vw - 4rem);
    height: 70%;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr 4fr 10fr;
    gap: 2rem;
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 2rem;
    grid-template-areas:
        "graph title title"
        "graph info info"
        "graph equation equation";
}

.card-space-result {
    width: calc(100vw - 4rem);
    height: 70%;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 2rem;
    grid-template-areas:
        "graph . ."
        "graph title title"
        "graph button button"
        "graph . .";
}

#resume-button {
    grid-area: button;
    margin: auto;
}

.graph-space {
    grid-area: graph;
    position: relative;
    /* width: 100%;
    height: 100%; */
    display: grid;
    aspect-ratio: 1;
}

#graph-drawing,
#graph-result {
    margin: 0rem;
    height: 100%;
    width: 100%;
    position: relative;
    aspect-ratio: 1;
}

.y-axis,
.x-axis {
    position: absolute;
    background-color: black;
    border-radius: 1em;
    pointer-events: none;

}

.y-axis {
    left: 50%;
    bottom: 1em;
    width: 0.4em;
    height: calc(100% - 2em);
}

.x-axis {
    bottom: 50%;
    left: 1em;
    /* Margin from the left */
    height: 0.4em;
    /* Thickness of the line */
    width: calc(100% - 2em);
    /* Adjust width for margins */
}

.y-axis::before {
    /* Arrow for the Y-axis */
    content: '';
    position: absolute;
    left: calc(50% - 0.75rem);
    /* Adjust to center the arrow horizontally */
    top: 1rem;
    /* Position the arrow at the top */
    transform: translateY(-100%);
    /* Move the arrow up by its own height */
    border-left: 0.8rem solid transparent;
    border-right: 0.8rem solid transparent;
    border-bottom: 1.6rem solid black;
}

.x-axis::before {
    /* Arrow for the X-axis */
    content: '';
    position: absolute;
    right: 1rem;
    /* Position the arrow at the right */
    bottom: calc(50% - 0.8rem);
    /* Adjust to center the arrow vertically */
    transform: translateX(100%);
    /* Move the arrow right by its own width */
    border-top: 0.8rem solid transparent;
    border-bottom: 0.8rem solid transparent;
    border-left: 1.6rem solid black;
    /* Change border-right to border-left */
}

.game-title {
    margin: 0rem;
    grid-area: title;
    text-align: center;
    display: flex;
    /* overflow: hidden; */
    /* justify-content: center; */
    align-items: center;
}

/* .elements {
    margin: 0rem 2rem 0rem 1rem;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 6fr;
    /* flex-basis: 100%; */
/* }  */

#arcade-time-lives,
#eternal-ratio-time {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

}

#arcade-title,
#eternal-title,
#mentor-title {
    font-size: 4rem;
    margin: 0;
    line-height: 3.5rem;
}

.equation-wrapper {
    margin: 0rem;
    padding: 0rem;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    grid-area: equation;
}

.equation {
    font-size: 5.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#mentor-resources {
    margin: 0rem;
    padding: 0rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-area: info;
}

#resources-title {
    font-size: 3.7rem;
    margin: 0;
}

#wolfram {
    color: #B70000;
    font-size: 2.5rem;
    text-decoration: underline;
    transition: 0.2s;
}

#wolfram:hover {
    scale: 1.05;
}

.half-block {
    margin: 0rem;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
}

#arcade-lives {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    padding: 0rem 1.5rem;
}

#arcade-lives img {
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
}

.line-vertical {
    position: relative;
    /* new */
    width: 2rem;
    /* line-width */
    height: 10rem;
    /* line length */
    z-index: 10;
    background: #000000;
}

/* PAUSE OVERLAY SCREEN  */

#pause-div {
    position: absolute;
    display: flex;
    width: calc(100% - 6rem);
    margin-top: 0;
    justify-content: flex-end;
    top: 3rem;
}

#pause img:hover {
    scale: 1.1;
}

.pause-button img {
    width: 5rem;
    height: 5rem;
    transition: 0.2s;
}

#pause-title,
#gameover-title {
    font-size: 10rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2rem;

    background: linear-gradient(90deg, #B1C901 0%, #FFA501 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.full-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

#score-info {
    font-size: 5rem;
    margin: 0;
}

.main-overlay {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#result-elements {
    margin: 0rem 2rem 0rem 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
}

#result-title {
    display: grid;
    text-align: center;
}

#correct,
#incorrect {
    grid-row: 1;
    grid-column: 1;

}

.basic-button {
    font-size: 6rem;

    font-family: 'Rubik Mono One';
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08rem;

    filter: drop-shadow(-0.3rem 0.3rem 0px #B70000);

    background: linear-gradient(90deg, #FFBE00 0%, #FF3D00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    transition: 0.2s;
}

.basic-button:hover {
    scale: 1.05;
}

.result {
    display: none;
    font-size: 6rem;
    grid-area: info;
}

.resources {
    display: none;
}

#canvas-result {
    width: 100%;
    height: 100%;
    z-index: 10;
    display: grid;
}

#canvas-result img {
    grid-row: 1;
    grid-column: 1;
    margin: auto;
    height: 100%;
    width: 100%;
}

#image-user-drawing {
    z-index: 5;
    opacity: 0.5;
}

#image-answer {
    z-index: 10;
}

#correct {
    color: #32CD32;
}

#incorrect {
    color: red;
}

#mentor-resources {
    height: 100%;
}

@media (max-width: 4000px) and (min-width: 3000px) {
    html {
        font-size: 20px;
    }
    /* .gamemode-wrapper {
        margin: 0 2rem;
    } */
}

@media (max-width: 3000px) and (min-width: 2000px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 1500px) and (min-width: 1000px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 1050px) and (orientation: landscape) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 1000px) and (orientation: portrait){
    html {
        font-size: 16px;
    }   

    #titlemath p {
        letter-spacing: 0.8rem;
    }

    #svg-container {
        display: none;
    }

    #blob3 {
        height: 25%;
    }

    #titlemath {
        font-size: 7rem;
        display: grid;
        transform: translateY(2rem);
    }    

    #maintitle {
        gap: 3rem;
    }

    #play-button {
        transform: scale(1);
    }

    #gameover-title, #pause-title {
        font-size: 8rem;
    }

    .card-space {
        width: 80%;
        height: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr 5fr 5fr;
        gap: 2rem;
        grid-template-areas:
        "title title"
        "info info"
        "equation equation"
        "graph graph";
    }

    #body-gamemode {
        height: 100vh;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 100;
    }

    #main-gamemode {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin: auto;
        margin-top: 4rem;
        margin-bottom: 4rem;
        height: calc(100vh - 8rem);
    }

    .card-gamemode {
        margin: 2rem 0rem;
    }

    .eternal-icon, .arcade-icon, .mentor-icon {
        display: none;
    }

}

@media (max-width: 900px) {
    html {
        font-size: 6px;
    }
}

@media (min-aspect-ratio: 7/10) and (orientation: portrait){
    html {
        font-size: 10px;
    }

    #gameover-title, #pause-title {
        font-size: 8rem;
    }

    .card-space {
        width: 50%;
        height: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 4fr 10fr 5fr;
        gap: 2rem;
        grid-template-areas:
        "title title"
        "info info"
        "equation equation"
        "graph graph";
    }

    #body-gamemode {
        height: 100vh;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 100;
    }

    #blob3 {
        height: 35%;
    }

    #main-gamemode {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin: auto;
        margin-top: 4rem;
        margin-bottom: 4rem;
        height: calc(100vh - 8rem);
    }

    .card-gamemode {
        margin: 2rem 0rem;
    }

    .eternal-icon, .arcade-icon, .mentor-icon {
        display: none;
    }
}