@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


html {
    scroll-behavior: smooth;
    font-size: 18px;
    line-height: 1.5;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
    background-size: cover;
    background-position: center;
    color: #333;

}

a {
    text-decoration: none;

}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

header nav a {
    margin-right: 2rem;
}


main {
    display: grid;
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; */
}

#footerheader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    grid-column: 1;
    grid-row: 1;
}

#upperpart, #bottompart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#maintitle {
    margin: auto;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titlemath {
    font-size: 8rem; 
    display: grid;
}

#titlemath p {
    text-align: center; 
    font-family: 'Rubik';
    font-weight: 1000; 
    letter-spacing: 11.20px; 
    grid-column: 1;
    grid-row: 1;
}

#SketchMath {
    background: linear-gradient(90deg, #FF4319 3%, #FF7A00 36%, #FFBE00 68%, #9CB700 93%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    word-wrap: break-word;
    z-index: 1;
    filter: drop-shadow(-0rem 0.5rem 0px #B70000);

    
}

#play-button {
    text-decoration: none;
    border: none;
    background-color: inherit;
    font-size: 4rem; 
    font-family: 'Rubik Mono One';
    background: linear-gradient(90deg, #FF3D00 0%, #FF7A00 22.5%, #F6CE00 50%, #00DB8C 75%, #0038FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    filter: drop-shadow(-3px 4px 0px #B70000);

}

#titleshadow {
    position: relative;
    left: -0.3rem;
    top: 0.3rem;
    z-index: 0;

}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -10; /* Changed from -1 to 0 to make sure it's above the base layer */
    top: 0;
    left: 0;
}

.papertexture {
    opacity: 0.6;
    width: 100%; 
    position: absolute;
    height: 100%;
    object-fit: cover; 
}

#overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background: #FFF6ED;
    mix-blend-mode: multiply;
    z-index: 1; 
}


#main-gamemode {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch; /* Aligns items to the start of the cross axis */
    margin: 0 2rem 0 2rem;
    height: calc(100vh - 4rem); /* Full heright minus margin */
}

.card {
    display: flex;
    flex-direction: column; 
    margin: 8rem 1.2rem;
    background: linear-gradient(203deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.20) 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.20);
    border-radius: 3rem;
    border: 0.15rem solid rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(0.5rem);
    text-align: center;
    justify-content: stretch; /* This spaces out the child elements */
    flex: 1; /* Takes up equal width */
    overflow: hidden; 
    transition: .2s;
    height: auto; 
}

#card-eternal:hover {
    scale:1.05;
}
#card-arcade:hover {
    scale:1.05;
}
#card-mentor:hover {
    scale:1.05;
}

.card h1 {
    font-size: 4.5rem;
    font-family: 'Rubik Mono One', sans-serif;
    color: #161616;
    margin-top: 3rem; /* Adjust this value to move the title closer to the card's top */
}

.card p {
    font-size: 2.8rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    color: #161616;
    margin: 0rem 1rem; /* Provides a consistent margin */
    flex-grow: 1; /* Allows paragraphs to expand and fill the space */
}

.card h1 {
    letter-spacing: 0.04em;
}

#card-arcade h1, #arcade-title{
    background: linear-gradient(90deg, #FF4319 0%, #FFBE00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#card-eternal h1{
background: linear-gradient(90deg, #B60000 0%, #FF7A00 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

#card-mentor h1{
background: linear-gradient(90deg, #FFB800 0%, #ACCA01 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}



#main-howtoplay { 
    display: flex;
    flex-direction: column;
    justify-content: stretch; /* Centers the content vertically */
    align-items: center; /* Centers the content horizontally */
    width: 100vw;
    height: 100vh;
    text-align: center; /* Ensures text is centered within its container */
}
/* How To Play? */


#title-howtoplay { 
    font-size: 8rem;
    letter-spacing: 0.08em;
    background: linear-gradient(90deg, #FFBE00 0%, #FF4319 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    margin-bottom: 1rem; /* Adds space below the title */
}

#tutorial {
    position: relative;
    margin: 3rem;
    overflow: hidden; /* Ensures nothing spills outside the bounds */
}

#tutorial-image {
    max-width: 100%; /* Ensures image is not larger than its container */
    max-height: 100%; /* Ensures image is not taller than its container */
    object-fit: contain; /* Ensures the image is fully visible */
}

#main-arcade {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

#card-space-arcade {
    width: 100%; /* Adjust based on your design */
    height:70%;
    display: grid;
    grid-template-columns: 1fr 1fr;    
}

#graph-drawing {
    margin: 0rem 1rem 0rem 2rem;
    padding-bottom: 100%; /* new */
    position: relative;
    display: flex;
    /* Other styles as needed */
}

.y-axis, .x-axis {
    position: absolute;
    background-color: black;
    border-radius: 1rem;
}

.y-axis {
    left: 50%;
    bottom: 1rem; /* Margin from the bottom */
    width: 0.4rem; /* Thickness of the line */
    height: calc(100% - 2rem); /* Adjust height for margins */
}

.x-axis {
    bottom: 50%;
    left: 1rem; /* Margin from the left */
    height:  0.4rem; /* Thickness of the line */
    width: calc(100% - 2rem); /* Adjust width for margins */
}
.y-axis::before {
    /* Arrow for the Y-axis */
    content: '';
    position: absolute;
    left: calc(50% - 0.8rem); /* Adjust to center the arrow horizontally */
    top: 1rem; /* Position the arrow at the top */
    transform: translateY(-100%); /* Move the arrow up by its own height */
    border-left: 0.8rem solid transparent;
    border-right: 0.8rem solid transparent;
    border-bottom: 1.6rem solid black;
}

.x-axis::before {
    /* Arrow for the X-axis */
    content: '';
    position: absolute;
    right: 1rem; /* Position the arrow at the right */
    bottom: calc(50% - 0.8rem); /* Adjust to center the arrow vertically */
    transform: translateX(100%); /* Move the arrow right by its own width */
    border-top: 0.8rem solid transparent;
    border-bottom: 0.8rem solid transparent;
    border-left: 1.6rem solid black; /* Change border-right to border-left */
}

#arcade-elements {
    margin: 0rem 2rem 0rem 1rem;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 6fr;
}

#arcade-time-lives{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    
}

#arcade-title {
    font-size: 4rem;
    margin: 0;
}

#arcade-info {
    height: 100%;
    display: grid;
    gap: 2rem;
    height:100%;
    grid-template-rows: 1fr 2fr;
}

#arcade-equation{
    height:100%;
    margin:0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

#arcade-time, #arcade-lives{
    height:100%;
    margin: 0rem;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
}

#arcade-lives{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    padding: 0rem 1.5rem;
}

#arcade-lives img {
    margin: auto;
    display: flex;
}

.line-vertical {
    position: relative; /* new */
    width: 2rem; /* line-width */
    height: 10rem; /* line length */
    z-index: 10;
    background: #000000;
}