@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

html {
    scroll-behavior: smooth;
    font-size: 18px;
    line-height: 1.5;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
    background-size: cover;
    background-position: center;
    color: #333;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 2rem;
}


main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#titlemath {
    font-size: 6rem; 
    display: grid;

}

#titlemath p {
    text-align: center; 
    font-family: "Rubik Mono One"; 
    font-weight: 400; 
    letter-spacing: 11.20px; 
    grid-column: 1;
    grid-row: 1;
}

#SketchMath {
    background: linear-gradient(90deg, #FF4319 3%, #FF7A00 36%, #FFBE00 68%, #9CB700 93%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    word-wrap: break-word;
    z-index: 1;
}

#titleshadow {
    position: relative;
    left: -0.3rem;
    top: 0.3rem;
    z-index: 0;

}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}