{% extends 'base-game.html' %}

{% block content %}
<div id="arcade-elements" class="elements">
    <div id="arcade-title">ARCADE</div>
    <div id="arcade-info">
        <div id="arcade-time-lives">
            <div id="arcade-time" class="card half-block">00:20</div>
            <div id="arcade-lives" class="card half-block">
                <img id="life1" src="static/media/heart-filled.svg">
                <img id="life2" src="static/media/heart-filled.svg">
                <img id="life3" src="static/media/heart-filled.svg">
            </div>
        </div>
        <div id="arcade-equation" class="card equation"></div>
    </div>
</div>

{% endblock %}