<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SketchMath</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default'></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          messageStyle: "none"
        });
        var math = document.getElementById("arcade-equation");
        MathJax.Hub.Queue(["Typeset",MathJax.Hub,math]);
    </script>


    <div class="background">
        <img class="papertexture"  src="static/media/paper-texture.jpeg" alt="Background Placeholder"/>
        <div id="overlay"></div>
    </div>
    
    <header id="header"></header>

    <main id="main-arcade">
        <div id = "pause-div">
            <button onclick="pauseOn()" class = "pause-button" id="pause-arcade">
                <img src="static/media/pause.svg" alt="Pause">
            </button>
        </div>
        <div id="card-space-arcade">
            <div id="graph-drawing" class="card">
                <div class="y-axis"></div>
                <div class="x-axis"></div>
                <canvas id="canvas-drawing" width="2048" height="2048"></canvas>
            </div>
            <div id = "arcade-elements">
                <div id = "arcade-title">ARCADE</div>
                <div id = "arcade-info">
                    <div id = "arcade-time-lives">
                        <div id = "arcade-time" class="card">00:20</div>
                        <div id = "arcade-lives" class="card">
                            <div id="life1">
                                <img src="static/media/heart-filled.svg" alt="1">
                            </div>
                            <div id="life2">
                                <img src="static/media/heart-filled.svg" alt="1">
                            </div>
                            <div id="life3">
                                <img src="static/media/heart-filled.svg" alt="1">
                            </div>
                        </div>
                    </div>
                    <div id = "arcade-equation" class = "card"></div>
                </div>
            </div>
        </div>


        <div class="full-overlay" id="pause-screen">
            <div class="background">
                <img class="papertexture"  src="static/media/paper-texture.jpeg" alt="Background Placeholder"/>
                <div id="overlay"></div>
            </div>
            <div id="main-pause">
                <div id="pause-title">Pause</div>
                <button onclick="pauseOff()" class = basic-button>RESUME</button>
                <button onclick="toMenu()" class = basic-button>QUIT GAME</button>
            </div>
        </div>

        <div class="full-overlay" id="result-screen">
            <div class="background">
                <img class="papertexture"  src="static/media/paper-texture.jpeg" alt="Background Placeholder"/>
                <div id="overlay"></div>
            </div>
            <div id="main-result">
                <div id = "pause-div">
                    <button onclick="pauseOn()" class = "pause-button" id="pause-arcade">
                        <img src="static/media/pause.svg" alt="Pause">
                    </button>
                </div>
                <div id="card-space-result">
                    <div id="graph-result" class="card">
                        <div class="y-axis"></div>
                        <div class="x-axis"></div>
                        <div id="canvas-result">
                            <img id = "image-user-drawing">
                            <img id = "image-answer">
                        </div>
                    </div>
                    <div id = "result-elements">
                        <div id="result-title">
                            <div id="correct" class="result">CORRECT</div>
                            <div id="incorrect" class="result">INCORRECT</div>
                        </div>
                        <div id="wolfram" class="resources">WOLFRAM ALPHA</div>
                        <button onclick="resultOff()" class = basic-button>RESUME</button>
                    </div>
                </div>   
            </div>
        </div>
    </main>
</body>
</html>
