<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SketchMath</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <div class="background">
        <img class="papertexture"  src="static/media/paper-texture.jpeg" alt="Background Placeholder"/>
        <div id="overlay"></div>
    </div>
    
    <header id="header"></header>

    <main id="main-arcade">
        <div id="card-space-arcade">
            <div id="graph-drawing" class="card">
                <canvas id="canvas-drawing" width="512" height="512"></canvas>
            </div>
            <div id = "arcade-elements">
                <div id = "arcade-title">ARCADE</div>
                <div id = "arcade-info">
                    <div id = "arcade-time-lives">
                        <div id = "arcade-time" class="card">0:20</div>
                        <div id = "arcade-lives" class="card">
                            <div id="life1">
                                <img src="static/media/heart-filled.svg" alt="1">
                            </div>
                            <div id="life2">
                                <img src="static/media/heart-filled.svg" alt="1">
                            </div>
                            <div id="life3">
                                <img src="static/media/heart-filled.svg" alt="1">
                            </div>
                        </div>
                    </div>
                    <div id = "arcade-equation" class = "card">y = x</div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
