<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SketchMath</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="static/media/favicon.png">
</head>

<body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default'></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          messageStyle: "none"
        });
        var math = document.getElementById("arcade-equation");
        MathJax.Hub.Queue(["Typeset",MathJax.Hub,math]);
    </script>

    {% include 'background.html' %}

    <main id="main-game">
        <div id="pause-div">
            <button onclick="pauseOn()" class="pause-button" id="pause">
                <img src="static/media/pause.svg" alt="Pause">
            </button>
        </div>

        <div class="card-space">
            <div class="graph-space">
                <div id="graph-drawing" class="card">
                    <div class="y-axis"></div>
                    <div class="x-axis"></div>
                    <canvas id="canvas-drawing" width="2048" height="2048"></canvas>
                </div>
            </div>
            {% block content %}{% endblock %}
            <div class="card equation-wrapper">
                <div class="equation"></div>
            </div>
        </div>

        <div class="full-overlay" id="pause-screen">
            {% include 'background.html' %}
            <div id="main-pause" class="main-overlay">
                <div id="pause-title">Pause</div>
                <button onclick="pauseOff()" class=basic-button>RESUME</button>
                <button onclick="toMenu()" class=basic-button>QUIT GAME</button>
            </div>
        </div>

        <div class="full-overlay" id="game-over-screen">
            {% include 'background.html' %}
            <div id="main-gameover" class="main-overlay">
                <div id="gameover-title">Game Over!</div>
                <div id="score-info"></div>
                <button onclick="location.reload()" class=basic-button>REPLAY</button>
                <button onclick="toMenu()" class=basic-button>MENU</button>
            </div>
        </div>

        <div class="full-overlay" id="result-screen">
            {% include 'background.html' %}
            <div id="main-result" class="main-overlay">
                <div class="card-space-result">
                    <div class="graph-space">
                        <div id="graph-result" class="card">
                            <div class="y-axis"></div>
                            <div class="x-axis"></div>
                            <div id="canvas-result">
                                <img id="image-user-drawing">
                                <img id="image-answer">
                            </div>
                        </div>
                    </div>
                    <div id="result-title" class="game-title">
                        <div id="correct" class="result">CORRECT</div>
                        <div id="incorrect" class="result">INCORRECT</div>
                    </div>
                    <div id="wolfram" class="resources">WOLFRAM ALPHA</div>
                    <button onclick="resultOff()" class=basic-button id="resume-button">RESUME</button>
                </div>
            </div>
        </div>
    </main>
</body>

</html>