{% extends 'base-game.html' %}

{% block content %}

        <div id="card-space-arcade">
            <div id="graph-drawing" class="card">
                <div class="y-axis"></div>
                <div class="x-axis"></div>
                <canvas id="canvas-drawing" width="2048" height="2048"></canvas>
            </div>
            <div id = "arcade-elements">
                <div id = "arcade-title">ETERNAL</div>
                <div id = "arcade-info">
                    <div id = "arcade-time-lives">
                        <div id = "arcade-time" class="card">00:20</div>
                    </div>
                    <div id = "arcade-equation" class = "card"></div>
                </div>
            </div>
        </div>
        
{% endblock %}