<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SketchMath</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="static/media/favicon.png">
</head>

<body>
    <div class="background">
        <img class="papertexture" src="static/media/paper-texture.jpeg" alt="Background Placeholder" />
        <div id="overlay"></div>
    </div>

    <header id="header"></header>

    <main id="main-gamemode">
        <div id="eternal" class="gamemode-wrapper">
            <img class="eternal-icon" id="eternal-icon-01" src="static/media/eternal-icon.svg" />
            <img class="eternal-icon" id="eternal-icon-02" src="static/media/eternal-icon.svg" />
            <img class="eternal-icon" id="eternal-icon-03" src="static/media/eternal-icon.svg" />
            <a class="card card-gamemode" href="{{ url_for('eternal') }}">
                <h1 id="eternal-gamemode-title">ETERNAL</h1>
                <div class="gamemode-description">
                    <p>Infinite Game with feedback, No Hints or Links</p>
                    <p>Train and Perfect!</p>
                </div>
            </a>
        </div>

        <div id="arcade" class="gamemode-wrapper">
            <img class="arcade-icon" id="arcade-icon-01" src="static/media/heart-filled.svg" />
            <img class="arcade-icon" id="arcade-icon-02" src="static/media/heart-filled.svg" />
            <img class="arcade-icon" id="arcade-icon-03" src="static/media/heart-empty.svg" />
            <a class="card card-gamemode" href="{{ url_for('arcade') }}">
                <h1 id="arcade-gamemode-title">ARCADE</h1>
                <div class="gamemode-description">
                    <p>Limited Time and Lives</p>
                    <p>Test Your Knowledge Under Stress!</p>
                </div>
            </a>
        </div>

        <div id="mentor" class="gamemode-wrapper">
            <img class="mentor-icon" id="mentor-icon-01" src="static/media/mentor-icon.svg" />
            <img class="mentor-icon" id="mentor-icon-02" src="static/media/mentor-icon.svg" />
            <img class="mentor-icon" id="mentor-icon-03" src="static/media/mentor-icon.svg" />
            <a class="card card-gamemode" href="{{ url_for('mentor') }}">
                <h1 id="mentor-gamemode-title">MENTOR</h1>
                <div class="gamemode-description">
                    <p>Useful Resources and Feedback</p>
                    <p>Read, Remember and Improve!</p>
                </div>
            </a>
        </div>
    </main>
</body>

</html>