<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SketchMath</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="background">
        <img class="papertexture"  src="static/media/paper-texture.jpeg" alt="Background Placeholder"/>
        <div id="overlay"></div>
    </div>
    
    <header id="header"></header>

    <main id="main-content">
        <div id="card-eternal" class="card">
            <h1>ETERNAL</h1>
            <p>Infinite Game with feedback, No Hints or Links</p>
            <p>Train and Perfect!</p>
        </div>

        <div id="card-arcade" class="card">
            <h1>ARCADE</h1>
            <p>Limited Time and Lives</p>
            <p>Test Your Knowledge Under Stress!</p>
        </div>

        <div id="card-mentor" class="card">
            <h1>MENTOR</h1>
            <p>Useful Resources and Feedback</p>
            <p>Read, Remember and Improve!</p>
        </div>
    </main>
</body>
</html>
