<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SketchMath</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href = "static/media/favicon.png">
</head>
<body>
    {% include 'background.html' %}
    
    <div class="back-arrow">
        <img src="static/media/back-arrow.svg" alt="Back Arrow" onclick="window.history.back()">
    </div>

    <main id="main-howtoplay">
        <div id="title-howtoplay">How To Play?</div>
        <div id = "tutorial">
            <img id="tutorial-image"  src="static/media/howtoplay.png" alt="How to Play Image"/>
            <img id="tutorial-image-vertical"  src="static/media/howtoplay-vertical.png" alt="How to Play Image"/>
        </div>
    </main>
</body>
</html>
