<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SketchMath</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <nav>
            <a href="#" id="how-to-play">HOW TO PLAY?</a>
        </nav>
        <div id="language-selection">EN</div>
    </header>
    <main>
        <div id = "bloboverlay"></div>
        <div id="titlemath">
            <p id="SketchMath">SketchMath</p>
            <p id="titleshadow">SketchMath</p>
        </div>
        <button id="play-button">PLAY!</button>
    </main>
    <footer>
        <div id="by">BY ANNA DANCHENKO</div>
        <nav>
            <a href="#" id="contact-me">CONTACT ME</a>
        </nav>
    </footer>
</body>
</html>