<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SketchMath</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="static/media/favicon.png">
</head>

<body>
    <main>
        {% include 'background.html' %}
        <div class="blobs-container">
            <img class="blob" id="blob1" src="static/media/blob-left-top.svg">
            <img class="blob" id="blob2" src="static/media/blob-right-top.svg">
            <img class="blob" id="blob3" src="static/media/blob-left-bottom.svg">
            <img class="blob" id="blob4" src="static/media/blob-right-bottom.svg">
        </div>
        <div id="svg-container">
            <img class="svg-drawing" id="doodles" src="static/media/doodles.svg">
        </div>
        <div id="footerheader">
            <div id="upperpart">
                <a href="{{ url_for('howtoplay') }}" id="how-to-play">HOW TO PLAY?</a>
                <div id="language-selection">EN</div>
            </div>
            <div id="bottompart">
                <a id="by" href="https://github.com/anyaachan">
                    <p>BY</p>
                    <p>ANNA DANCHENKO</p>
                </a>
                <a href="https://t.me/anyaachan" id="contact-me">CONTACT ME</a>
            </div>
        </div>
        <div id="maintitle">
            <div id="titlemath">
                <p id="SketchMath">SketchMath</p>
            </div>
            <a href="{{ url_for('gamemode') }}">
                <img id="play-button" src="static/media/play-button.svg">
            </a>
        </div>
    </main>
</body>

</html>