<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SketchMath</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id = "rootmain">
        <div id = "bloboverlay">
            <div id = "roottext">
                <div id="titlemath">
                    <p id="SketchMath">SketchMath</p>
                    <p id="titleshadow">SketchMath</p>
                </div>
                <p id="playbutton">PLAY</p>
            </div>

        </div>
    </div>
</body>
</html>